<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="This is my portfolio website containing my resume,projects,github link,and contact details" name="description">
  <meta name="google" content="notranslate" />
  <meta content="This website is develped by Hamza Murtaza" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <!--<link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">-->
  <link href="./static/assets/boy1.ico" rel="icon">

  <title>Hamza Murtaza</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Projects</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          <li><a href="./static/hamzamurtaza_original_resume.pdf#toolbar=0" title="">05 : Resume</a></li>
          <li><a href="https://github.com/HamzaMurtaza11" title="">06 : GitHub</a></li>
          
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Projects</h1>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">

                      <a href="https://github.com/HamzaMurtaza11/Heart_Disease_Detection_System" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/heart_disease_img1.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/006</h4>
                        <h3>Heart Disease Detection System</h3>
                        <b>This is Artificial Intelligence based Binary class classification project coded using scikit-learn. The problem is to find out whether a person or patient has a heart disease or not. This artificial intelligent program (machine learning) can be a fantastic solution to figuring out whether a patient has a heart disease by using complex programming and statistical techniques.</b>
                        <a href="https://github.com/HamzaMurtaza11/Heart_Disease_Detection_System" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://github.com/HamzaMurtaza11/Deep_Learning_Notebook" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/Dog_breed_img_resized.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/006</h4>
                        <h3>Dog Breed Identification System</h3>
                        <b>This is an Artificial Intelligence based Deep learning project that builds an end to end multi-class image classification model using TensorFlow 2.0 and Tensorflow Hub.This project is used to predict the particular breed of a dog when an image of dog is provided.</b><br>
                        <a href="https://github.com/HamzaMurtaza11/Deep_Learning_Notebook" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://github.com/HamzaMurtaza11/Facial_Emotion_Recognition" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/facial_emotion_resized.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/006</h4>
                        <h3>Facial Emotion Recognition</h3>
                        <b>This project is based on multi class image classification problem having 7 classes ( Neutral, angry, sad, happy, fear, surprise, disgust). The model is used to identify facial expressions of human being . The deep learning model is trained on a data set containing 35,000 images of human face downloaded from kaggle. A pre-trained model "MobileNet" is used for deep neural network training.</b><br>
                        <a href="https://github.com/HamzaMurtaza11/Facial_Emotion_Recognition" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="https://github.com/HamzaMurtaza11/MachineLearning_IrisDataset_Jupiter_notebook" class="black-image-project-hover">
                      <img src="./static/assets/images/iris_flower_resized.png" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>004/006</h4>
                      <h3>Iris Flower Prediction</h3>
                      <b>This is a Machine Learning project done using Scikit Learn library. The data set is an IRIS flower data set consisting of Features of iris flowers and Result values based on three iris flowers. The data set is imported through KAGGLE and then split into Training set containing ( X: features , Y: target) and testing values. The supervised learning Classification modeling is performed by analyzing the data and K-NEAREST NEIGHBOUR MODEL is applied to the dataset.The model tells that what type of iris flower is sampled by giving it set of feature values.</b><br>
                      <a href="https://github.com/HamzaMurtaza11/MachineLearning_IrisDataset_Jupiter_notebook" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                   <div class="col-sm-4">
                      <a href="https://github.com/HamzaMurtaza11/SMS-Sender-application_python" class="black-image-project-hover">
                        <img src="./static/assets/images/sms_img_resized.png" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>005/006</h4>
                        <h3>SMS Sender Application (Python)</h3>
                        <b>This is an SMS sending application that allow to send message to any phone number from all over the World. The app is build by configuration with twilio API service. The python program is basically integrated with twilio service that assigns a virtual communication port number and a phone number to contact with a person you want to. We can send SMS, MMS , voice calls and much more.</b><br>
                        <a href="https://github.com/HamzaMurtaza11/SMS-Sender-application_python" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <a href="https://github.com/HamzaMurtaza11/PDF_merger_python" class="black-image-project-hover">
                        <img src="./static/assets/images/pdf_merge_img_resized.png" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>006/006</h4>
                        <h3>PDF Merger Application (Python)</h3>
                        <b>This project is coded in python using SYS module and PyPDF2 library. The task is to merge the input PDF files into one pdf file.</b><br>
                        <a href="https://github.com/HamzaMurtaza11/PDF_merger_python" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            
            <!--/item-->
        </div>
        <!--/carousel-inner--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>



    <!--/myCarousel-->
    </div>



    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Copy Right | All Rights Reserved | Created By Hamza Murtaza</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>